.photo {
  text-align:center;
  background-color: #FFFFFF;
  font-size: 9pt;
  font-family: 'Tinos', serif;
  padding: 1mm;
  line-height:16pt;
  border: solid black .25mm;
  border-radius:4px;
  width:72mm;
}
img {
width:96%;
padding-bottom:2mm;
}
h3 {
font-weight:600;
font-size:10pt;
margin-bottom:1px;
line-height:1px;
}
.standard {
  text-align:left;
  background-color: #FFFFFF;
  font-size: 9pt;
  font-family: 'Tinos', serif;
  padding: 1mm;
  line-height:11pt;
  width:72mm;
}
